<script setup>
</script>

<template>
  <div v-if="appReady" class="min-h-full font-Poppins box-border">
    <Navigation />
    <router-view />
  </div>
</template>

<script>
import Navigation from "./components/Navigation.vue"
import { ref } from 'vue'
import { supabase } from './supabase/init'
import store from './store/index';

export default {
  components: {
    Navigation,
  },
  setup() {
    //create data 
    var appReady = ref(null);

    // Check if user is already login
    const user = supabase.auth.getUser();
    // console.log(user)

    // if user does not exist, need to make app ready
    if(!user.data) {
      appReady.value = true;
    }

    // ketika auth change berubah (login) fungsi di run
    supabase.auth.onAuthStateChange((_, session) => {
      console.log("hello, ini state change");
      store.methods.setUser(session);
      appReady.value = true;
    });

    // appReady = true;
    return { appReady };
  }
}

</script>

<style scoped>
</style>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
</style>