<template>
    <header></header>
</template>

<script>
    export default {
        name: "home",
        components: {},
        setup() {
            // create data

            // get data

            //run data

            return {};
        },
    };
</script>
